<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Singleurl>
            <version>1.0.0</version>
        </Mygento_Singleurl>
    </modules>
    <global>
        <blocks>
            <singleurl>
                <class>Mygento_Singleurl_Block</class>
            </singleurl>
        </blocks>
        <helpers>
            <singleurl>
                <class>Mygento_Singleurl_Helper</class>
            </singleurl>
        </helpers>
        <models>
            <singleurl>
                <class>Mygento_Singleurl_Model</class>
            </singleurl>
            <catalog>
                <rewrite>
                    <product_url>Mygento_Singleurl_Model_Rewrite_Product_Url</product_url>
                    <url>Mygento_Singleurl_Model_Rewrite_Url</url>
                </rewrite>
            </catalog>
        </models>
    </global>
    <adminhtml>
    </adminhtml>
    <default>
        <singleurl>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
        </singleurl>
    </default>
</config>